USE [master]
GO
/****** Object:  Table [dbo].[customer_satisfaction_scores]    Script Date: 01-10-2026 09:12:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_satisfaction_scores](
	[Customer_ID] [varchar](max) NULL,
	[Engagement_Score] [float] NULL,
	[Experience_Score] [float] NULL,
	[Satisfaction_Score] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
